<!-- author box -->
<div class="ui segment">
    <div class="ui items">
        <div class="item">
            <a class="ui circular tiny image">
                <img src="/assets/img/profile.jpg">
            </a>
            <div class="content">
                <a class="header">Laurent Carlier</a>
                <div class="description">
                    <p>Do not hesitate to leave a comment. If see an error, you can issue a pullme request om my <a href="https://github.com/lcarlier/lcarlier.github.io">github</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
